.bg {
  background: var(--primary);
}

.fac {
  margin-right: 1rem !important;
}

.badgeh {
  display: none;
}

.bg-blurple {
  background-color: #7289da;
}

.hidden,
.hidden > * {
  display: none !important;
}

[class^='tippy'] {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}
