.badge {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  width: 32px;
  height: 32px;
}
#dev {
  background-image: url('https://res.cloudinary.com/zeiw/image/upload/c_scale,h_32/v1564826121/icon/developer.svg');
}
#mod {
  background-image: url('https://res.cloudinary.com/zeiw/image/upload/c_scale,h_32/v1564826121/icon/moderator.svg');
}
#tp {
  background-image: url('https://res.cloudinary.com/zeiw/image/upload/c_scale,h_32/v1564826121/icon/testpilot.svg');
}
#pr,
#prc {
  background-image: url('https://res.cloudinary.com/zeiw/image/upload/c_scale,h_32/v1564826121/icon/phoenix-riders.svg');
}
#wd,
#wdc {
  background-image: url('https://res.cloudinary.com/zeiw/image/upload/c_scale,h_32/v1564826121/icon/winter-dragons.svg');
}
#db,
#dbc {
  background-image: url('https://res.cloudinary.com/zeiw/image/upload/c_scale,h_32/v1564826121/icon/demon-brigade.svg');
}
#prc,
#wdc,
#dbc {
  width: 48px;
  height: 48px;
}
