<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ZEIW</title>
    <meta content="ZEIW" name="title" />
    <meta content="Open source community-based game 🏓" name="description" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="279" property="og:image:width" />
    <meta content="279" property="og:image:height" />
    <meta
      content="Open source community-based game 🏓"
      property="og:description"
    />
    <meta content="ZEIW" property="og:title" />
    <meta content="https://play.zeiw.me" property="og:url" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta
      content="https://res.cloudinary.com/zeiw/image/upload/q_auto,c_scale,w_279/v1564824906/img/icon.jpg"
      property="og:image"
    />
    <link
      href="https://res.cloudinary.com/zeiw/image/upload/q_auto/v1564824186/favicon/apple-touch-icon.png"
      rel="apple-touch-icon"
      sizes="180x180"
    />
    <link
      href="https://res.cloudinary.com/zeiw/image/upload/q_auto/v1564824186/favicon/favicon-32x32.png"
      rel="icon"
      sizes="32x32"
      type="image/png"
    />
    <link
      href="https://res.cloudinary.com/zeiw/image/upload/q_auto/v1564824186/favicon/favicon-16x16.png"
      rel="icon"
      sizes="16x16"
      type="image/png"
    />
    <% for (var chunk of webpack.chunks) { %> <% if (chunk.names.length === 1 &&
    chunk.names[0] === 'polyfills') continue; %> <% for (var file of
    chunk.files) { %> <% if (htmlWebpackPlugin.options.preload &&
    file.match(/\.(js|css)$/)) { %>
    <link
      rel="preload"
      href="<%= htmlWebpackPlugin.files.publicPath + file %>"
      as="<%= file.match(/\.css$/)?'style':'script' %>"
    />
    <% } %> <% } %> <% } %>
  </head>
  <body>
    <script
      defer
      src="<%= htmlWebpackPlugin.files.chunks['bundle'].entry %>"
    ></script>
  </body>
</html>
